.dropdown {
  position: relative;
  width: auto;
  min-width: 100px;
}

.control {
  padding: var(--space-2) var(--space-3);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--border-radius-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: var(--space-3);
  background-color: var(--color-gray-200);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-gray-200);
  ;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: var(--shadow-md);
}

.option {
  padding: var(--space-2) var(--space-3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option:hover {
  background-color: var(--color-gray-700);
  color: var(--color-gray-100)
}

.noOptions {
  padding: var(--space-2) var(--space-3);
  color: var(--color-gray-600);
}

.search {
  width: 100%;
  padding: var(--space-2);
  border: 1px solid var(--border-radius-sm);
  border-radius: var(--border-radius-sm);
  margin-bottom: 8px;
}

.control:focus {
  outline: none;
  border-color: var(--color-primary-600);
}