.card {
  border-radius: var(--border-radius-base);
  box-shadow: var(--shadow-md);
  min-width: 120px;
  overflow-wrap: break-word;
  background-color: var(--color-gray-200);
}

.cardHeader {
  padding: var(--space-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBody {
  padding: var(--space-3);
}