.spinnerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.spinnerIcon {
    color: var(--color-gray-800);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}