.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--space-3);
    margin: var(--space-3) 0;
}

.headerTitle {
    font-weight: var(--font-weight-semibold);
}

.sm {
    font-size: var(--font-size-base);
}

.md {
    font-size: var(--font-size-lg);
}

.lg {
    font-size: var(--font-size-xl);
}