.navHeader {
   box-shadow: var(--shadow-sm);
   padding: var(--space-3);
   position: sticky;
   top: 0;
   z-index: 20;
   background-color: var(--color-gray-200);
}

.navbar {
   width: 100%;
   max-width: var(--max-layout-width);
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}